//color
$black: #252B42;
$textSec:#374754;
$bleu: #2091F9;
$yellow: hsl(50deg 100% 74%);
$Gry: hsl(0deg 0% 97%);
$gryOpacity: rgba(0, 0, 0, 0.5);
$darkBacground: #252B42;
$green: hsl(160deg 99% 43%);
$lastColor: hsl(341deg 100% 86%);
$pinkBackground: hsl(337deg 90% 96%);
$pinkFake: hsl(341deg 100% 93%);
$white: #ffffff;
