
@import "~bootstrap/scss/bootstrap";
@import "~mq-scss/mq";

@import "./font";

//Variable
@import './variable';
//components
@import './components/typograph';
@import './components/list';
@import './components/button';
@import './components/form';
//Layout
@import './_layouts/nav';
@import './_layouts/presentation';
@import './_layouts/features';
@import './_layouts/newsletter';
@import './_layouts/parteners';
@import './_layouts/testimoinals';
@import './_layouts/pricing';
@import './_layouts/contact';
@import './_layouts/footer';
html, body{
    // background-color: $bleu;
}