.btn,
.wpcf7-submit {
    padding: 14px 52px;
    border-radius: 50px;
}

.btn-btn-primary,
input.wpcf7-submit {
    background-color: $bleu;
    color: $white;
    font-size: 20px;
    border: none;
}

.pricing__item.item-2 .btn-btn-primary {
    background-color: $white;
    color: $bleu;
}