#contact {
    padding: 100px 00;
}

.contact__head {
    padding-top: 100px;
    padding-bottom: 50px;
    max-width: 500px;
    margin: auto;
}

.contact__form {
    padding: 50px;
    box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
    background-color: $white;
}

.contact__maps {
    max-width: 700px;
    width: 100%;
    margin: auto;
    imframe {
        width: 100%;
    }
}

.contact__info-item {
    font-size: 16px;
    text-align: center;
}

.i4ewOd-pzNkMb-tJHJj {
    display: none;
}

.contact__info {
    margin-bottom: 50px;
}

.contact__info-item {
    img {
        margin-bottom: 20px;
        width: 30px;
        height: 30px;
        object-fit: contain;
    }
}

.contact__social {
    margin-top: 50px;
    a {
        margin-right: 10px;
        &:last-child {
            margin-right: 00;
        }
    }
}