#footer{
   padding: 160px 00;
   background-color:  $darkBacground ;
    color: $white;
    h3, a{
        color: $white;
    }
}
.footer__menus-item{
    ul{
        padding: 0;
        margin: 0;
    }
    a{
        font-size: 15px;
    }
}