.newsletter__text-form {
    h2 {
        margin-top: 17px;
        margin-bottom: 35px;
    }
}

.newsletter__form {
    margin-bottom: 35px;
    .h3 {
        margin-bottom: 0;
    }
}

.row__field {
    display: flex;
    flex-wrap: wrap;
    .field {
        margin-bottom: 10px;
    }
}