.parteners__head {
    padding-top: 100px;
    padding-bottom: 90px;
}

.parteners__client-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    @include mq(max, 768px) {
        grid-template-columns: 2fr 2fr;
    }
}

.parteners__client {
    text-align: center;
    padding: 50px;
    border: solid $Gry 2px;
}

.parteners__footer {
    margin-top: 90px;
    margin-bottom: 100px;
}