#product{
    background-color: $white;
}
.product__container {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding: 175px 50px 250px;
}

.product__header {
    position: relative;
    padding-top: 50px;
    h2,
    .h2 {
        position: relative;
        z-index: 1;
    }
}
.product__content{
    margin-top: 260px;
}
.product__circle-outer,
.product__circle-inner {
    position: absolute;
    width: 375px;
    height: 375px;
    border-radius: 50%;
    background-color: $Gry;
    left: calc(50% - 187.5px);
    top: -80px;
}

.product__circle-inner {
    background-color: $yellow;
    transform: scale3d(0.5, 0.5, 05);
    transform-origin: center;
}
.product__list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
}
.product__list-item{
    display: block;
    &.item-1 {
        grid-column:  1 / span 2;
    }
    height: 377px;
    padding: 23px;
}
.product__list-item{
    background-color: $green;
    border-radius: 5px;
}
.product__list-item.item-1{
    background-color: transparent;
    p{
        width: 100%;
        max-width: 405px;
        line-height: 1em;
    }
}
.product__list-description{
    margin-top: 20px;
}
.product__list-item.fake-item{
    background-color: $Gry;
    border-radius: 80px;
}
